@import url(../header.css);

:root {
  --cor-borda: #a159ff;
  --cor-fundo: #592f72;
  --cor-fonte: #ffffff;

}

.cabecalho {
  background-color: var(--cor-fundo);
  border-color: var(--cor-borda);
}

.cabecalho-link {
  border-color: var(--cor-borda);
  color: var(--cor-borda);
}

body {
    font-family: "Roboto Mono", monospace;
    text-align: center;
    background-image: url("https://img.freepik.com/fotos-premium/efeito-de-velocidade-do-hiperespaco-no-ceu-estrelado-noturno-banner-horizontal-da-galaxia-azul-brilhante_118047-13459.jpg?w=1380");
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    height: 100vh;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .page-title {
    color: var(--cor-fonte);
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: var(--cor-fonte);
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  body > img {
    margin: 0 10px;
  }
  
  img {
    max-height: 250px;
    display: block;
  }

  .conversao {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .imagem-link {
    display: flex;
    justify-content: center;
  }

  .letreiro {
    display: inline-block;
    font-weight: 700;
    background-color: #a159ff;
    padding: 0.5em;
    border-radius: 5px;
    color: var(--cor-fonte);
  }

  .input-distancia {
    background: transparent;
    border: 2px solid var(--cor-fonte);
    border-radius: 5px;
    padding: 0.5em;
    font-size: 16px;
    font-weight: 700;
    font-family: "Roboto Mono", monospace;
    color: var(--cor-fonte);
    width: 5em;
  }

  .btn-converter {
    margin-top: 1em;
    padding: 0.5em;
    background: transparent;
    border: 1px solid var(--cor-fonte);
    color: var(--cor-fonte);
    font-family: "Roboto Mono", monospace;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
  }

  .btn-converter:hover {
    font-weight: 700;
    border: 2px solid var(--cor-fonte);
    background-color: var(--cor-borda);
  }

  .resultado-conversor {
    border: 2px solid var(--cor-borda);
    border-radius: 5px;
    color: var(--cor-fonte);
    background-color: var(--cor-fundo);
    font-size: 1em;
    font-weight: 700;
    padding: 0.25em;
  }



